<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Xin chào <%= user.name %>!</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />
  <% if(userPermissions.length !== 0) {%>
  <!-- Heading -->
  <div class="sidebar-heading">Manage</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <% if (userPermissions.includes('user_view') ||
  userPermissions.includes('user_create')) { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="bi bi-person-circle"></i>
      <span>User</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">User Components:</h6>
        <% if (userPermissions.includes('user_view')) { %>
        <a class="collapse-item" href="/list-user">Danh sách</a>
        <% } %> <% if (userPermissions.includes('user_create')) { %>
        <a class="collapse-item" href="/add-user">Thêm</a>
        <% } %>
      </div>
    </div>
  </li>
  <% } %>
  <!-- Nav Item - Utilities Collapse Menu -->
  <% if (userPermissions.includes('project_view') ||
  userPermissions.includes('project_create')) { %>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseUtilities"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-folder"></i>
      <span>Project</span>
    </a>
    <div
      id="collapseUtilities"
      class="collapse"
      aria-labelledby="headingUtilities"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Project Components:</h6>
        <% if (userPermissions.includes('project_view')) { %>

        <a class="collapse-item" href="/list-project">Danh sách</a>
        <% } %> <% if (userPermissions.includes('project_create')) { %>

        <a class="collapse-item" href="/add-project">Thêm</a>
        <% } %>
      </div>
    </div>
  </li>
  <%}%> <% if (userPermissions.includes('task_view') ||
  userPermissions.includes('task_create')) { %>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapsePages"
      aria-expanded="true"
      aria-controls="collapsePages"
    >
      <i class="fas fa-tachometer-alt"></i>
      <span>Task</span>
    </a>
    <div
      id="collapsePages"
      class="collapse"
      aria-labelledby="headingPages"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Task Components:</h6>
        <% if (userPermissions.includes('task_view')) { %>

        <a class="collapse-item" href="/list-task">Danh sách</a>
        <%}%> <% if (userPermissions.includes('task_create')) { %>

        <a class="collapse-item" href="/add-task">Thêm</a>
        <%}%>
      </div>
    </div>
  </li>
  <%}%> <% if (userPermissions.includes('role_view') ||
  userPermissions.includes('role_create')) { %>

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseRoles"
      aria-expanded="true"
      aria-controls="collapseRoles"
    >
      <i class="fas fa-user-shield"></i>
      <span>Phân quyền</span>
    </a>
    <div
      id="collapseRoles"
      class="collapse"
      aria-labelledby="headingRoles"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Role Components:</h6>
        <% if (userPermissions.includes('role_view')) { %>

        <a class="collapse-item" href="/list-roles">Danh sách vai trò</a>
        <%}%> <% if (userPermissions.includes('role_create')) { %>

        <a class="collapse-item" href="/add-role">Thêm vai trò</a>
        <%}%>
      </div>
    </div>
  </li>
  <%}%>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <% } %>

  <!-- Heading -->
  <div class="sidebar-heading">Overview</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <% if ( userPermissions.includes('chart_view')) { %>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/charts">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a
    >
  </li>
  <% } %> <% if ( userPermissions.includes('table_view')) { %>
  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" href="/tablesP">
      <i class="fas fa-fw fa-table"></i>
      <span>Calendar Project</span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/tablesT">
      <i class="fas fa-fw fa-table"></i>
      <span>Calendar Task</span></a
    >
  </li>
  <% } %>
  <hr class="sidebar-divider d-none d-md-block" />
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <!-- Sidebar Message -->
</ul>
